<div [@routerTransition]>

    <h2 class="text-muted">Job Ads List <small></small></h2>
        <div class="row">
                <div class="col" *ngFor="let ad of (adsState$ | async)?.ads">
                        <app-seek-container [data]="ad" [metadata]="containerMetadata"></app-seek-container>
                </div>
        </div>
        <br />
        <div class="row">
                <div class="col">
                        <button (click)="onCheckoutClick($event)" type="button" class="btn btn-danger">Checkout</button>
                </div>        
        </div>
    
</div>
